<template>
  <v-content>
    <div class="staticHero">
      <v-img src="../assets/images/chinees.jpg" height=300px>
        <v-row align="end" class="lightbox white--text pa-2 fill-height">
          <v-col>
            <v-container>
              <div class="headline" style="font-weight:bolder">About Us</div>
            </v-container>
          </v-col>
        </v-row>
      </v-img>
    </div>
    <div class="block">
      <v-container>
        <br><br>
        <p>Flavour has grand plans to be India’s most loved hyper local player, It aims to be the most accessible platform on 
          the network - hyperlocal, horizontal and across categories.Our employees prides themselves on imbibing our values. 
          Our values are taken seriously and upheld and practiced with integrity and intent. There are the 8 values we stand by.</p>
      </v-container>
    </div>
    <div class="block">
      <v-container>
        <h2 class="text-center">Our Team</h2>
        <v-row>
          <v-col v-for="item in items" :key="item.id" cols="12" md="4">
            <v-card class="mx-auto" max-width="400">
            <v-img class="white--text align-end" :src="item.src"></v-img>

            

            <v-card-text class="text--primary">
              <div class="title">{{item.name}}</div>

              <p>{{item.title}}</p>
            </v-card-text>

            
            </v-card>


          </v-col>
        </v-row>

      </v-container>
    </div>
  </v-content>
</template>

<script>
  export default {
    name: 'About',

    data () {
      return {
        items: [
          {
            id:1,
            src:require("../assets/images/person3.jpg"),
            name:"Peter Smith",
            title:'Founter'
          },
          {
            id:2,
            src:require("../assets/images/person2.jpg"),
            name:"Lisa White",
            title:'Co-Founter'
          },
          {
            id:3,
            src:require("../assets/images/person3.jpg"),
            name:"Roy Peter",
            title:'Director'
          },
          
        ],
      }
    },
  };

</script>
