<template>
  <v-content>
    <Hero/>
    <Sense/>
    <Explore/>
  </v-content>
</template>

<script>
import Hero from '../components/Hero';
import Sense from '../components/Sense';
import Explore from '../components/Explore';
  export default {
    name: 'Home',

    components: {
      
      Hero,
      Sense,
      Explore,
      
    },

    data () {
      return {
        items: [
          
        ],
      }
    },
  };

</script>
