<template>
<v-container>
    <h2 class="text-center">Explore More</h2>
    <v-container
      class="fill-height"
      fluid
      style="min-height: 450px"
    >
      <v-fade-transition mode="out-in">
        <v-row
          v-for="item in items"
          :key="item.id"
          
          
        >
          <v-col cols="6">
            <v-card>
              <v-img
                :src="item.src"
                height="125"
                class="grey darken-4"
              ></v-img>
              <v-card-title class="text-h6">
                {{item.title}}
              </v-card-title>
            </v-card>
          </v-col>

          <v-col cols="6">
            <v-card>
              <v-img
                :src="item.src"
                height="125"
                
                class="grey darken-4"
              ></v-img>
              <v-card-title class="text-h6">
                {{item.title}}
              </v-card-title>
            </v-card>
          </v-col>

          <v-col cols="6">
            <v-card>
              <v-img
                :src="item.src"
                max-height="125"
                class="grey darken-4"
              ></v-img>
              <v-card-title class="text-h6">
                {{item.title}}
              </v-card-title>
            </v-card>
          </v-col>

          <v-col cols="6">
            <v-card>
              <v-img
                :src="item.src"
                max-height="125"
               
                class="grey darken-4"
              ></v-img>
              <v-card-title class="text-h6">
                {{item.title}}
              </v-card-title>
            </v-card>
          </v-col>
        </v-row>
      </v-fade-transition>
    </v-container>   
</v-container>
  
</template>

<script>
  export default {
    name: 'Explore',

    data() {
      return{
        items :[
          {
            id:1,
            title:"Indian", 
            src:require("../assets/images/img-indian.jpg")
          },
          {
            id:2,
            title:"Chinees",
            src:require("../assets/images/chinees.jpg")
          },
          {
            id:3,
            title:"Deserts",
            src:require("../assets/images/salads.jpg")
          },
          {
            id:4,
            title:"salads",
            src:require("../assets/images/img-fast.jpg")
          },


        ]
        
        

      }
    }
      
  };

</script>
