<template>
  <v-container>
    <v-toolbar flat>


      <!-- <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon> -->
      <v-toolbar-title style="font-weight:bolder">Flavour</v-toolbar-title>

      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-xs-only">
        <v-btn icon>
          <v-icon>mdi-magnify</v-icon>
        </v-btn>

        
        <v-btn text>
          <router-link to="/">Home</router-link>
        </v-btn>

        <v-btn text>
          <router-link to="/About">About</router-link>
        </v-btn>

        <v-btn text>
          <router-link to="/Contact">Contact</router-link>
        </v-btn>
      </v-toolbar-items>
      <div class="hidden-sm-and-up">
        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            
          <v-app-bar-nav-icon v-on="on"></v-app-bar-nav-icon>
            
          </template>
          <v-list class="responsivemenu">
            <v-list-item >
              <v-list-item-title><router-link to="/">Home</router-link></v-list-item-title>
            </v-list-item>
            <v-list-item >
              <v-list-item-title><router-link to="/About">About</router-link></v-list-item-title>
            </v-list-item>
            <v-list-item >
              <v-list-item-title><router-link to="/Contact">Contact</router-link></v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </div>

    </v-toolbar>
    
  </v-container>
</template>

<script>
  export default {
    name: 'Header',

    data: () => ({ 
      drawer: null,
      items: [
        {title: 'Dashboard', icon: 'mdi-view-dashboard' },
        { title: 'Photos', icon: 'mdi-image' },
        { title: 'About', icon: 'mdi-help-box' },
      ],
    }),
  }  
  

</script>
