<template>
  
    <div class="HeroBlock">
      <v-carousel hide-delimiters cycle>
        <v-carousel-item
          v-for="(item,i) in items"
          :key="i"
          :src="item.src"
          reverse-transition="fade-transition"
          transition="fade-transition"
        > 
          <v-row class="fill-height title hidden-xs-only" align="center" justify="center" style="color:white;font-weight:bolder;font-size: xx-large;font-style: italic;font-family: math;">
          <div class="">{{ item.title }} </div>
        </v-row>

        
        </v-carousel-item>
      </v-carousel>
    </div>
 
</template>

<script>
  export default {
    name: 'Hero',

    data () {
      return {
        items: [
          {
            src: require("../assets/images/img-fast.jpg"),
            title:"Speed of Service"
          },
          {
            src: require("../assets/images/img-berry.jpg"),
            title :"Fleshy in Nutritious"
          },
          {
            src: require("../assets/images/img-indian.jpg"),
            title:"Rich in Spicy"
          },
          
        ],
      }
    },
  };

</script>
