<template>
  
    <div class="block SenseBlock">
      <v-container>
        <h2 class="text-center">Sense the taste</h2>
        <v-row>
          <v-col cols="12" md="4" v-for="item in items" :key="item.id">
            <v-card
              :loading="loading"
              class="mx-auto my-12"
              max-width="374"
            >
            <template slot="progress">
              <v-progress-linear
                color="deep-purple"
                height="10"
                indeterminate
              ></v-progress-linear>
            </template>

            <v-img
              height="250"
              :src="item.src"
            ></v-img>

            <v-card-title>{{item.title}}</v-card-title>

            <v-card-text>
              <v-row
                align="center"
                class="mx-0"
              >
                <v-rating
                  :value="4.5"
                  color="amber"
                  dense
                  half-increments
                  readonly
                  size="14"
                ></v-rating>

                <div class="grey--text ms-4">
                  4.5 (413)
                </div>
              </v-row>

              <!-- <div class="my-4 text-subtitle-1">
                $ • Italian, Cafe
              </div> -->
              <v-card-subtitle class="my-4 text-subtitle-1">{{item.subtitle}}</v-card-subtitle>

              <!-- <div>Small plates, salads & sandwiches - an intimate setting with 12 indoor seats plus patio seating.</div> -->
              <v-card-text class="text--primary">
                <div>{{item.description}}</div>
              </v-card-text>


            </v-card-text>

            <v-divider class="mx-4"></v-divider>

            <v-card-title>Tonight's availability</v-card-title>

            <v-card-text>
              <v-chip-group
                v-model="selection"
                active-class="deep-purple accent-4 white--text"
                column
              >
                <v-chip>5:30PM</v-chip>

                <v-chip>7:30PM</v-chip>

                <v-chip>8:00PM</v-chip>

                <v-chip>9:00PM</v-chip>
              </v-chip-group>
            </v-card-text>

            <v-card-actions>
              <v-btn

                color="orange lighten-2"
                
                text
                @click="reserve"
              >
                Reserve
              </v-btn>
            </v-card-actions>
          </v-card>
          </v-col>
        </v-row>  
      
      </v-container>
    </div>
</template>

<script>
  export default {
    name: 'Sense',

    data() {
      return{
        items :[
          {
            id:1,
            title:"Indian",
            subtitle:"Indian spicy food",
            description:"Indian cuisine consists of a variety of regional and traditional cuisines native to the Indian subcontinent.",
            src:require("../assets/images/img-indian.jpg")
          },
          {
            id:2,
            title:"Chinees",
            subtitle:"Indian spicy food",
            description:"Chinese cuisine is an important part of Chinese culture and includes cuisines originating from the diverse.",
            src:require("../assets/images/chinees.jpg")
          },
          {
            id:3,
            title:"Deserts",
            subtitle:"Indian spicy food",
            description:"The term dessert can apply to many confections, such as biscuits, cakes, cookies, custards, gelatins, ice creams.",
            src:require("../assets/images/salads.jpg")
          },


        ]
        
        

      }
    }
     
  };

</script>
